<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.driver_class">
			org.mariadb.jdbc.Driver
		</property>

		<property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/bibliotheque</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="connection.is-connection-validation-required">true</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		<property name="hbm2ddl.auto">update</property>


		<!-- mettre ici le mapping vers le fichier de correspondance entre les 
			atributs de la classe et la table -->

		<mapping class="fr.ul.miage.bibliotheque.entite.Auteur" />
		<mapping class="fr.ul.miage.bibliotheque.entite.Emprunt" />
		<mapping class="fr.ul.miage.bibliotheque.entite.Etat" />
		<mapping class="fr.ul.miage.bibliotheque.entite.Exemplaire" />
		<mapping class="fr.ul.miage.bibliotheque.entite.Oeuvre" />
		<mapping class="fr.ul.miage.bibliotheque.entite.Reservation" />
		<mapping class="fr.ul.miage.bibliotheque.entite.TypeOeuvre" />
		<mapping class="fr.ul.miage.bibliotheque.entite.Usager" />

	</session-factory>

</hibernate-configuration>